<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Simple Cart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="ml-auto d-flex justify-content-center align-items-center">
      <a class="nav-link d-inline position-relative" style="cursor: pointer;">
        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
        <span
          class="rounded-circle border border-dark position-absolute d-flex justify-content-center align-items-center"
          style="width: 20px; height: 20px; top: 0; left: 0;"

        >2</span>
      </a>
      <p class="d-inline-block m-0">Total: <span>500</span> EGP</p>


    </div>
  </div>
</nav>
